{# purpose of this template: images display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'PggoInstititutionenModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ image.getTitleFromDisplayPattern()|default(__('Image')) }}{% endblock %}
{% block title %}
    {% set templateTitle = image.getTitleFromDisplayPattern()|default(__('Image')) %}
    {{ templateTitle|notifyFilters('pggoinstititutionenmodule.filter_hooks.images.filter') }}{% if routeArea == 'admin' %} <small>({{ image.workflowState|pggoinstititutionenmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('PggoInstititutionenModule:ItemActionsMenu:menu', [], { entity: image, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ image.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="pggoinstititutionenmodule-image pggoinstititutionenmodule-display">

    {% if not isQuickView %}
        <div class="row">
            <div class="col-sm-9">
    {% endif %}

    <dl>
        {% if image.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ image.workflowState|pggoinstititutionenmodule_listEntry('image', 'workflowState') }}</dd>
        {% endif %}
        {% if image.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ image.title }}</dd>
        {% endif %}
        {% if image.image is not empty %}
            <dt>{{ __('Image') }}</dt>
            <dd>{% if image.imageMeta|default %}
            <a href="{{ image.imageUrl }}" title="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}"{% if image.imageMeta.isImage %} class="image-link"{% endif %}>
            {% if image.imageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'imageImage') %}
                <img src="{{ image.image.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ image.imageMeta.size|pggoinstititutionenmodule_fileSize(image.image.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if image.copyright is not empty %}
            <dt>{{ __('Copyright') }}</dt>
            <dd>{{ image.copyright }}</dd>
        {% endif %}
        {% if image.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ image.description|safeHtml }}</dd>
        {% endif %}
        
    </dl>
    {{ include('@PggoInstititutionenModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: image }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
            </div>
            <div class="col-sm-3">
                {{ block('related_items') }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Institutions') }}</h4>
    {% else %}
        <h3>{{ __('Institutions') }}</h3>
    {% endif %}
    
    {% if image.images|default %}
        {{ include(
            '@PggoInstititutionenModule/Institution/includeDisplayItemListMany.html.twig',
            { items: image.images }
        ) }}
    {% endif %}
    
    {% set permLevel = 'ACCESS_EDIT' %}
    {% set mayManage = hasPermission('PggoInstititutionenModule:Institution:', institution.id ~ '::', permLevel) %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create institution') %}
            <a href="{{ path('pggoinstititutionenmodule_institution_' ~ routeArea ~ 'edit', { institution: image.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='pggoinstititutionenmodule.ui_hooks.images.display_view', id=image.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
