{# Purpose of this template: Display a popup selector of institutions for scribite integration #}
{% set useFinder = true %}
{% extends 'PggoInstititutionenModule::raw.html.twig' %}
{% block title __('Search and select institution') %}
{% block content %}
    <div class="container">
        <ul class="nav nav-tabs">
        <li{{ objectType == 'picture' ? ' class="active"' : '' }}><a href="{{ path('pggoinstititutionenmodule_external_finder', {'objectType': 'picture', 'editor': editorName}) }}" title="{{ __('Search and select picture') }}">{{ __('Pictures') }}</a></li>
        <li{{ objectType == 'institution' ? ' class="active"' : '' }}><a href="{{ path('pggoinstititutionenmodule_external_finder', {'objectType': 'institution', 'editor': editorName}) }}" title="{{ __('Search and select institution') }}">{{ __('Institutions') }}</a></li>
        </ul>
        {% form_theme finderForm with [
            '@PggoInstititutionenModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: { id: 'pggoInstititutionenModuleSelectorForm' }}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select institution') }}</legend>
            {% if featureActivationHelper.isEnabled(constant('Pggo\\InstititutionenModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'institution') %}
                {{ form_row(finderForm.categories) }}
            {% endif %}
            {{ form_row(finderForm.onlyImages) }}
            <div id="imageFieldRow">
                {{ form_row(finderForm.imageField) }}
            </div>
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Institution') }}:</label>
                <div class="col-sm-9">
                    <div id="pggoinstititutionenmoduleItemContainer">
                        {% if not onlyImages %}
                            <ul>
                        {% endif %}
                            {% for institution in items %}
                                {% if not onlyImages or (attribute(institution, imageField) is not empty and attribute(institution, imageField ~ 'Meta').isImage) %}
                                {% if not onlyImages %}
                                    <li>
                                {% endif %}
                                    {% set itemId = institution.createCompositeIdentifier() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {% if onlyImages %}
                                            {% set thumbOptions = attribute(thumbRuntimeOptions, 'institution' ~ imageField[:1]|upper ~ imageField[1:]) %}
                                            <img src="{{ attribute(institution, imageField).getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ institution.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-rounded" />
                                        {% else %}
                                            {{ institution.getTitleFromDisplayPattern() }}
                                        {% endif %}
                                    </a>
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('pggoinstititutionenmodule_institution_display', { 'id': institution.id }) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ institution.getTitleFromDisplayPattern()|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if institution.description is not empty %}{{ institution.description }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                    {% if onlyImages %}
                                        <input type="hidden" id="imageUrl{{ itemId }}" value="/{{ attribute(institution, imageField).getPathname() }}" />
                                    {% endif %}
                                {% if not onlyImages %}
                                    </li>
                                {% endif %}
                                {% endif %}
                            {% else %}
                                {% if not onlyImages %}<li>{% endif %}{{ __('No institutions found.') }}{% if not onlyImages %}</li>{% endif %}
                            {% endfor %}
                        {% if not onlyImages %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            <div id="searchTermRow">
                {{ form_row(finderForm.q) }}
            </div>
            <div>
                {{ pager({ display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'pggoinstititutionenmodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="pggoinstititutionenmodule-finderform">
        <fieldset>
            {{ render(controller('PggoInstititutionenModule:Institution:edit')) }}
        </fieldset>
    </div>
    #}

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                pggoInstititutionenModule.finder.onLoad();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
