{# purpose of this template: Display pages without the theme #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <title>{{ block('pageTitle')|default(block('title')) }}</title>
    <link rel="stylesheet" type="text/css" href="{{ pagevars.homepath }}style/core.css" />
    <link rel="stylesheet" type="text/css" href="{{ pagevars.homepath }}modules/Pggo/NewsDatesModule/Resources/public/css/style.css" />
    {% if useFinder|default == true %}
        <link rel="stylesheet" type="text/css" href="{{ pagevars.homepath }}modules/Pggo/NewsDatesModule/Resources/public/css/finder.css" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ pagevars.homepath }}web/bootstrap-media-lightbox/bootstrap-media-lightbox.css" />
    {% endif %}
    <script type="text/javascript">
        /* <![CDATA[ */
            if (typeof(Zikula) == 'undefined') {var Zikula = {};}
            Zikula.Config = {'entrypoint': '{{ getModVar('ZConfig', 'entrypoint', 'index.php') }}', 'baseURL': '{{ app.request.getSchemeAndHttpHost() ~ '/' }}', 'baseURI': '{{ app.request.getBasePath() }}'};
        /* ]]> */
    </script>
    <link rel="stylesheet" type="text/css" href="{{ pagevars.homepath }}web/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ pagevars.homepath }}web/bootstrap/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="{{ pagevars.homepath }}web/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ pagevars.homepath }}web/bootstrap/js/bootstrap.min.js"></script>
    {% if useFinder|default == true %}
        <script type="text/javascript" src="{{ pagevars.homepath }}modules/Pggo/NewsDatesModule/Resources/public/js/PggoNewsDatesModule.Finder.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ pagevars.homepath }}web/bootstrap-media-lightbox/bootstrap-media-lightbox.min.js"></script>
        <script type="text/javascript" src="{{ pagevars.homepath }}modules/Pggo/NewsDatesModule/Resources/public/js/PggoNewsDatesModule.js"></script>
    {% endif %}
</head>
<body>
    {% if useFinder|default != true %}
        <h2>{{ block('title') }}</h2>
    {% endif %}
    {% block content %}{% endblock %}
    {% if useFinder|default != true %}
        <script type="text/javascript">
        /* <![CDATA[ */
            ( function($) {
                $(document).ready(function() {
                    $('.dropdown-toggle').addClass('hidden');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endif %}
</body>
</html>
