{# Purpose of this template: Display carousells within an filtered block #}
{# Filtering will be made by block filter #}
{# one carousel with n images should be shown #}

{% for carousel in items %}
	</div class ="section">
		<div class="container">
			<div class="row bottom-space">
			<div class="col-md-12 ">
				<div class="col-md-12 white-space">
					<div class="carousel slide" id="{{ carousel.carouselName }}" data-interval="{{ carousel.slidingTime }}" data-ride="carousel" width=100%>
					  {# the small dots for the position #}
						
						{% if carousel.controls %}
							<ol class="carousel-indicators">
							{% for item in carousel.carouselItems %}
								<li data-target="#carousel-example-generic" data-slide-to="{loop.index0}" class="{% if loop.first %} active{% endif %}"></li>
							{% endfor %}
							</ol>
						{% endif %}
						
						<div class="carousel-inner">
                        {% for item in carousel.carouselItems %}
                                <div class="item{% if loop.first %} active{% endif %}">
                                    {% if item.link is not empty %}
									<a href="{{ item.link }}"  target="{% if item.linkExternal %} _blank {% endif %}" >
									{% endif %}
										{% if item.itemImageUrl is not empty %}
											<img src="{{ item.itemImageUrl }}">
										{% else %}
											<img src="{{ zasset('@ZikulaOsnabrueckTheme:images/grey.jpg') }}">
										{% endif %}
									{% if item.link is not empty %}
									</a>
									{% endif %}
                                    <div class="carousel-caption">
                                        {% if item.title is not empty %}
										<h2 class="hidden-sm hidden-xs">{{ item.title }}</h2>
										<h5  class="hidden-md hidden-lg">{{ item.title }}</h5>
										{% endif %}
										{% if item.subtitle is not empty %}
                                        <p class="hidden-sm hidden-xs">{{ item.subtitle }}</p>
										{% endif %}
                                    </div>
                            </div>
                        {% endfor %}
						{% if carousel.controls %}
							<a class="left carousel-control" href="#{{ carousel.carouselName }}" data-slide="prev"><i class="fa fa-5x fa-angle-double-left icon-prev text-inverse"></i></a>
							<a class="right carousel-control" href="#{{ carousel.carouselName }}" data-slide="next"><i class="fa fa-5x icon-next pull-right text-inverse fa-angle-double-right"></i></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
{% else %}
	{{ __('No entries found.') }}
{% endfor %}

