{# Purpose of this template: Display a popup selector of infos for scribite integration #}
{% set useFinder = true %}
{% extends 'RKHelperModule::raw.html.twig' %}
{% block title __('Search and select info') %}
{% block content %}
    <div class="container">
        <ul class="nav nav-tabs">
        <li{{ objectType == 'linker' ? ' class="active"' : '' }}><a href="{{ path('rkhelpermodule_external_finder', {'objectType': 'linker', 'editor': editorName}) }}" title="{{ __('Search and select linker') }}">{{ __('Linkers') }}</a></li>
        <li{{ objectType == 'carouselItem' ? ' class="active"' : '' }}><a href="{{ path('rkhelpermodule_external_finder', {'objectType': 'carouselItem', 'editor': editorName}) }}" title="{{ __('Search and select carousel item') }}">{{ __('Carousel items') }}</a></li>
        <li{{ objectType == 'image' ? ' class="active"' : '' }}><a href="{{ path('rkhelpermodule_external_finder', {'objectType': 'image', 'editor': editorName}) }}" title="{{ __('Search and select image') }}">{{ __('Images') }}</a></li>
        <li{{ objectType == 'info' ? ' class="active"' : '' }}><a href="{{ path('rkhelpermodule_external_finder', {'objectType': 'info', 'editor': editorName}) }}" title="{{ __('Search and select info') }}">{{ __('Infos') }}</a></li>
        </ul>
        {% form_theme finderForm with [
            '@RKHelperModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: { id: 'rKHelperModuleSelectorForm' }}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select info') }}</legend>
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Info') }}:</label>
                <div class="col-sm-9">
                    <div id="rkhelpermoduleItemContainer">
                        <ul>
                            {% for info in items %}
                                <li>
                                    {% set itemId = info.createCompositeIdentifier() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {{ info.getTitleFromDisplayPattern() }}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('rkhelpermodule_info_display', { 'id': info.id }) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('rkhelpermodule_info_display', { 'id': info.id }) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ info.getTitleFromDisplayPattern()|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if info.infoDescription is not empty %}{{ info.infoDescription }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                </li>
                            {% else %}
                                <li>{{ __('No infos found.') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({ display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'rkhelpermodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="rkhelpermodule-finderform">
        <fieldset>
            {{ render(controller('RKHelperModule:Info:edit')) }}
        </fieldset>
    </div>
    #}

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                rKHelperModule.finder.onLoad();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
