{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="image{{ image.id }}">
<dt>{{ image.getTitleFromDisplayPattern()|notifyFilters('instititutionen.filter_hooks.images.filter') }}</dt>
<dd>{% if image.imageMeta|default %}
<a href="{{ image.imageUrl }}" title="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}"{% if image.imageMeta.isImage %} class="image-link"{% endif %}>
{% if image.imageMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'imageImage') %}
    <img src="{{ image.image.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ image.imageMeta.size|pggoinstititutionenmodule_fileSize(image.image.getPathname(), false, false) }})
{% endif %}
</a>
{% endif %}
</dd>
{% if image.description is not empty %}<dd>{{ image.description }}</dd>{% endif %}
</dl>
