{# purpose of this template: files display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKDownLoadModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ file.getTitleFromDisplayPattern()|default(__('File')) }}{% endblock %}
{% block title %}
    {% set templateTitle = file.getTitleFromDisplayPattern()|default(__('File')) %}
    {{ templateTitle|notifyFilters('rkdownloadmodule.filter_hooks.files.filter') }}{% if routeArea == 'admin' %} <small>({{ file.workflowState|rkdownloadmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('RKDownLoadModule:ItemActionsMenu:menu', [], { entity: file, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ file.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkdownloadmodule-file rkdownloadmodule-display">


    <dl>
        {% if file.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ file.workflowState|rkdownloadmodule_listEntry('file', 'workflowState') }}</dd>
        {% endif %}
        {% if file.fileName is not empty %}
            <dt>{{ __('File name') }}</dt>
            <dd>{{ file.fileName }}</dd>
        {% endif %}
        {% if file.myFile is not empty %}
            <dt>{{ __('My file') }}</dt>
            <dd>{% if file.myFileMeta|default %}
            <a href="{{ file.myFileUrl }}" title="{{ file.getTitleFromDisplayPattern()|e('html_attr') }}"{% if file.myFileMeta.isImage %} class="lightbox"{% endif %}>
            {% if file.myFileMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'fileMyFile') %}
                <img src="{{ file.myFile.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ file.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ file.myFileMeta.size|rkdownloadmodule_fileSize(file.myFile.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if file.myDescription is not empty %}
            <dt>{{ __('My description') }}</dt>
            <dd>{{ file.myDescription|safeHtml }}</dd>
        {% endif %}
        {% if file.startDate is not empty %}
            <dt>{{ __('Start date') }}</dt>
            <dd>{{ file.startDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if file.endDate is not empty %}
            <dt>{{ __('End date') }}</dt>
            <dd>{{ file.endDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        
    </dl>
    {% if featureActivationHelper.isEnabled(constant('RK\\DownLoadModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'file') %}
        {{ include('@RKDownLoadModule/Helper/includeCategoriesDisplay.html.twig', { obj: file }) }}
    {% endif %}
    {{ include('@RKDownLoadModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: file }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkdownloadmodule.ui_hooks.files.display_view', id=file.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
