{# purpose of this template: images display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKHelperModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ image.getTitleFromDisplayPattern()|default(__('Image')) }}{% endblock %}
{% block title %}
    {% set templateTitle = image.getTitleFromDisplayPattern()|default(__('Image')) %}
    {{ templateTitle|notifyFilters('rkhelpermodule.filter_hooks.images.filter') }}
    {% set itemActions = knp_menu_get('RKHelperModule:ItemActionsMenu:menu', [], { entity: image, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ image.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkhelpermodule-image rkhelpermodule-display">


    <dl>
        {% if image.imageTitle is not empty %}
            <dt>{{ __('Image title') }}</dt>
            <dd>{{ image.imageTitle }}</dd>
        {% endif %}
        {% if image.myImage is not empty %}
            <dt>{{ __('My image') }}</dt>
            <dd>{% if image.myImageMeta|default %}
            <a href="{{ image.myImageUrl }}" title="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}"{% if image.myImageMeta.isImage %} class="image-link"{% endif %}>
            {% if image.myImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'imageMyImage') %}
                <img src="{{ image.myImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ image.myImageMeta.size|rkhelpermodule_fileSize(image.myImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if image.myDescription is not empty %}
            <dt>{{ __('My description') }}</dt>
            <dd>{{ image.myDescription|safeHtml }}</dd>
        {% endif %}
        {% if image.copyright is not empty %}
            <dt>{{ __('Copyright') }}</dt>
            <dd>{{ image.copyright }}</dd>
        {% endif %}
        
    </dl>
    {{ include('@RKHelperModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: image }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkhelpermodule.ui_hooks.images.display_view', id=image.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
