{# purpose of this template: carousel items display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKHelperModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ carouselItem.getTitleFromDisplayPattern()|default(__('Carousel item')) }}{% endblock %}
{% block title %}
    {% set templateTitle = carouselItem.getTitleFromDisplayPattern()|default(__('Carousel item')) %}
    {{ templateTitle|notifyFilters('rkhelpermodule.filter_hooks.carouselitems.filter') }}
    {% set itemActions = knp_menu_get('RKHelperModule:ItemActionsMenu:menu', [], { entity: carouselItem, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ carouselItem.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkhelpermodule-carouselitem rkhelpermodule-display">


    <dl>
        {% if carouselItem.itemName is not empty %}
            <dt>{{ __('Item name') }}</dt>
            <dd>{{ carouselItem.itemName }}</dd>
        {% endif %}
        {% if carouselItem.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ carouselItem.title }}</dd>
        {% endif %}
        {% if carouselItem.subtitle is not empty %}
            <dt>{{ __('Subtitle') }}</dt>
            <dd>{{ carouselItem.subtitle }}</dd>
        {% endif %}
        {% if carouselItem.link is not empty %}
            <dt>{{ __('Link') }}</dt>
            <dd>{{ carouselItem.link }}</dd>
        {% endif %}
        {% if carouselItem.itemImage is not empty %}
            <dt>{{ __('Item image') }}</dt>
            <dd>{% if carouselItem.itemImage is not empty and carouselItem.itemImageMeta|default %}
                        <a href="{{ carouselItem.itemImageUrl }}" title="{{ carouselItem.getTitleFromDisplayPattern()|e('html_attr') }}"{% if carouselItem.itemImageMeta.isImage %} class="image-link"{% endif %}>
            {% if carouselItem.itemImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'carouselItemItemImage') %}
                <img src="{{ carouselItem.itemImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ carouselItem.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ carouselItem.itemImageMeta.size|rkhelpermodule_fileSize(carouselItem.itemImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if carouselItem.titleColor is not empty %}
            <dt>{{ __('Title color') }}</dt>
            <dd>{{ carouselItem.titleColor }}</dd>
        {% endif %}
        {% if carouselItem.itemStartDate is not empty %}
            <dt>{{ __('Item start date') }}</dt>
            <dd>{{ carouselItem.itemStartDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if carouselItem.intemEndDate is not empty %}
            <dt>{{ __('Intem end date') }}</dt>
            <dd>{{ carouselItem.intemEndDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if carouselItem.singleItemIdentifier is not empty %}
            <dt>{{ __('Single item identifier') }}</dt>
            <dd>{{ carouselItem.singleItemIdentifier }}</dd>
        {% endif %}
        {% if carouselItem.linkExternal is not empty %}
            <dt>{{ __('Link external') }}</dt>
            <dd>{% if carouselItem.linkExternal %}
                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
            {% else %}
                <i class="fa fa-times" title="{{ __('No') }}"></i>
            {% endif %}
            </dd>
        {% endif %}
        {% if carouselItem.itemLocale is not empty %}
            <dt>{{ __('Item locale') }}</dt>
            <dd>{{ carouselItem.itemLocale|languageName }}</dd>
        {% endif %}
        {% if carouselItem.carousel|default %}
            <dt>{{ __('Carousel') }}</dt>
            <dd>
              {% if not isQuickView %}
                    {{ carouselItem.carousel.getTitleFromDisplayPattern() }}
              {% else %}
                  {{ carouselItem.carousel.getTitleFromDisplayPattern() }}
              {% endif %}
            </dd>
        {% endif %}
        
    </dl>
    {{ include('@RKHelperModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: carouselItem }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkhelpermodule.ui_hooks.carouselitems.display_view', id=carouselItem.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
