{# purpose of this template: carousel items list view #}
{% extends routeArea == 'admin' ? 'RKHelperModule::adminBase.html.twig' : 'RKHelperModule::base.html.twig' %}
{% block title own ? __('My carousel items') : __('Carousel item list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="rkhelpermodule-carouselitem rkhelpermodule-view">

    <p class="alert alert-info">{{ __('The items are normally images. If you do not upload an image please be so kind and make a title and a subtitle') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@RKHelperModule/CarouselItem/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('rkhelpermodule_carouselitem_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="carouselItemsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cItemName" />
                <col id="cTitle" />
                <col id="cSubtitle" />
                <col id="cLink" />
                <col id="cItemImage" />
                <col id="cTitleColor" />
                <col id="cItemStartDate" />
                <col id="cIntemEndDate" />
                <col id="cSingleItemIdentifier" />
                <col id="cLinkExternal" />
                <col id="cItemLocale" />
                <col id="cCarousel" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="rkhelper-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted">{{ __('Actions') }}</th>
                <th id="hItemName" scope="col" class="text-left">
                    <a href="{{ sort.itemName.url }}" title="{{ __f('Sort by %s', {'%s': 'item name'}) }}" class="{{ sort.itemName.class }}">{{ __('Item name') }}</a>
                </th>
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hSubtitle" scope="col" class="text-left">
                    <a href="{{ sort.subtitle.url }}" title="{{ __f('Sort by %s', {'%s': 'subtitle'}) }}" class="{{ sort.subtitle.class }}">{{ __('Subtitle') }}</a>
                </th>
                <th id="hLink" scope="col" class="text-left">
                    <a href="{{ sort.link.url }}" title="{{ __f('Sort by %s', {'%s': 'link'}) }}" class="{{ sort.link.class }}">{{ __('Link') }}</a>
                </th>
                <th id="hItemImage" scope="col" class="text-left">
                    <a href="{{ sort.itemImage.url }}" title="{{ __f('Sort by %s', {'%s': 'item image'}) }}" class="{{ sort.itemImage.class }}">{{ __('Item image') }}</a>
                </th>
                <th id="hTitleColor" scope="col" class="text-left">
                    <a href="{{ sort.titleColor.url }}" title="{{ __f('Sort by %s', {'%s': 'title color'}) }}" class="{{ sort.titleColor.class }}">{{ __('Title color') }}</a>
                </th>
                <th id="hItemStartDate" scope="col" class="text-left">
                    <a href="{{ sort.itemStartDate.url }}" title="{{ __f('Sort by %s', {'%s': 'item start date'}) }}" class="{{ sort.itemStartDate.class }}">{{ __('Item start date') }}</a>
                </th>
                <th id="hIntemEndDate" scope="col" class="text-left">
                    <a href="{{ sort.intemEndDate.url }}" title="{{ __f('Sort by %s', {'%s': 'intem end date'}) }}" class="{{ sort.intemEndDate.class }}">{{ __('Intem end date') }}</a>
                </th>
                <th id="hSingleItemIdentifier" scope="col" class="text-left">
                    <a href="{{ sort.singleItemIdentifier.url }}" title="{{ __f('Sort by %s', {'%s': 'single item identifier'}) }}" class="{{ sort.singleItemIdentifier.class }}">{{ __('Single item identifier') }}</a>
                </th>
                <th id="hLinkExternal" scope="col" class="text-center z-order-unsorted">
                    {{ __('Link external') }}
                </th>
                <th id="hItemLocale" scope="col" class="text-left">
                    <a href="{{ sort.itemLocale.url }}" title="{{ __f('Sort by %s', {'%s': 'item locale'}) }}" class="{{ sort.itemLocale.class }}">{{ __('Item locale') }}</a>
                </th>
                <th id="hCarousel" scope="col" class="text-left">
                    <a href="{{ sort.carousel.url }}" title="{{ __f('Sort by %s', {'%s': 'carousel'}) }}" class="{{ sort.carousel.class }}">{{ __('Carousel') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for carouselItem in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center">
                        <input type="checkbox" name="items[]" value="{{ carouselItem.id }}" class="rkhelper-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ carouselItem.id }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('RKHelperModule:ItemActionsMenu:menu', [], { entity: carouselItem, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ carouselItem.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                <td headers="hItemName" class="text-left">
                    {{ carouselItem.itemName }}
                </td>
                <td headers="hTitle" class="text-left">
                    <a href="{{ path('rkhelpermodule_carouselitem_' ~ routeArea ~ 'display', { 'id': carouselItem.id }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ carouselItem.title|notifyFilters('rkhelpermodule.filterhook.carouselitems') }}</a>
                </td>
                <td headers="hSubtitle" class="text-left">
                    {{ carouselItem.subtitle }}
                </td>
                <td headers="hLink" class="text-left">
                    {{ carouselItem.link }}
                </td>
                <td headers="hItemImage" class="text-left">
                    {% if carouselItem.itemImage is not empty and carouselItem.itemImageMeta|default %}
                                <a href="{{ carouselItem.itemImageUrl }}" title="{{ carouselItem.getTitleFromDisplayPattern()|e('html_attr') }}"{% if carouselItem.itemImageMeta.isImage %} class="image-link"{% endif %}>
                    {% if carouselItem.itemImageMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'carouselItemItemImage') %}
                        <img src="{{ carouselItem.itemImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ carouselItem.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ carouselItem.itemImageMeta.size|rkhelpermodule_fileSize(carouselItem.itemImage.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hTitleColor" class="text-left">
                    {{ carouselItem.titleColor }}
                </td>
                <td headers="hItemStartDate" class="text-left">
                    {{ carouselItem.itemStartDate|localizeddate('medium', 'none') }}
                </td>
                <td headers="hIntemEndDate" class="text-left">
                    {{ carouselItem.intemEndDate|localizeddate('medium', 'none') }}
                </td>
                <td headers="hSingleItemIdentifier" class="text-left">
                    {{ carouselItem.singleItemIdentifier }}
                </td>
                <td headers="hLinkExternal" class="text-center">
                    {% if carouselItem.linkExternal %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hItemLocale" class="text-left">
                    {{ carouselItem.itemLocale|languageName }}
                </td>
                <td headers="hCarousel" class="text-left">
                    {% if carouselItem.carousel|default %}
                          {{ carouselItem.carousel.getTitleFromDisplayPattern() }}
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}14{% else %}13{% endif %}">
            {{ __('No carousel items found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'rkhelpermodule_carouselitem_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="rKHelperModuleAction" class="col-sm-3 control-label">{{ __('With selected carousel items') }}</label>
                <div class="col-sm-6">
                    <select id="rKHelperModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('RKHelperModule:CarouselItem:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create carousel item') %}
                <a href="{{ path('rkhelpermodule_carouselitem_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if showAllEntries == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('rkhelpermodule_carouselitem_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('rkhelpermodule_carouselitem_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='rkhelpermodule.ui_hooks.carouselitems.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
