{# purpose of this template: build the form to edit an instance of article #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'PggoNewsDatesModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@PggoNewsDatesModule:js/PggoNewsDatesModule.Validation.js', 98)) }}
    {{ pageAddAsset('javascript', zasset('@PggoNewsDatesModule:js/PggoNewsDatesModule.EditFunctions.js', 99)) }}
    {{ pageAddAsset('javascript', asset('typeahead/typeahead.bundle.min.js')) }}
{% endblock %}

{% block title mode == 'create' ? __('Create article') : __('Edit article') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="pggonewsdatesmodule-article pggonewsdatesmodule-edit">
{% form_theme form with [
    '@PggoNewsDatesModule/Form/bootstrap_3.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ form_start(form, {attr: {id: 'articleEditForm', class: 'pggonewsdates-edit-form'}}) }}
{{ form_errors(form) }}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFields">{{ __('Fields') }}</a></h3>
        </div>
        <div id="collapseFields" class="panel-collapse collapse in">
            <div class="panel-body">
                <fieldset>
                    <legend>{{ __('Content') }}</legend>
                    {{ form_row(form.title) }}
                    {{ form_row(form.teaser) }}
                    {{ form_row(form.bodyText) }}
                    {{ form_row(form.image) }}
                    {{ form_row(form.copyright) }}
                    {{ form_row(form.notes) }}
                    {{ form_row(form.displayOnIndex) }}
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.views) }}
                </fieldset>
            </div>
        </div>
    </div>
    
    {% if featureActivationHelper.isEnabled(constant('Pggo\\NewsDatesModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'article') %}
        {{ include('@PggoNewsDatesModule/Helper/includeCategoriesEdit.html.twig', { obj: article, panel: true }) }}
    {% endif %}
    {% if mode != 'create' %}
        {{ include('@PggoNewsDatesModule/Helper/includeStandardFieldsEdit.html.twig', { obj: article, panel: true }) }}
    {% endif %}
    
    {# include display hooks #}
    {% set hookId = mode != 'create' ? article.id : null %}
    {% set hooks = notifyDisplayHooks(eventName='pggonewsdatesmodule.ui_hooks.articles.form_edit', id=hookId) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseHook{{ loop.index }}">{{ providerArea }}</a></h3>
                </div>
                <div id="collapseHook{{ loop.index }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {{ hook }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <fieldset>
        <legend>{{ __('Communication') }}</legend>
        {{ form_row(form.additionalNotificationRemarks) }}
    </fieldset>
    
    {% if form.moderationSpecificCreator is defined %}
        <fieldset id="moderationFieldsSection">
            <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
            <div id="moderationFieldsContent">
                {{ form_row(form.moderationSpecificCreator) }}
                {{ form_row(form.moderationSpecificCreationDate) }}
            </div>
        </fieldset>
    {% endif %}
    
    {# include return control #}
    {% if mode == 'create' %}
        <fieldset>
            <legend>{{ __('Return control') }}</legend>
            {{ form_row(form.repeatCreation) }}
        </fieldset>
    {% endif %}
    
    {# include possible submit actions #}
    <div class="form-group form-buttons">
        <div class="col-sm-offset-3 col-sm-9">
            {% for action in actions %}
                {{ form_widget(attribute(form, action.id)) }}
            {% endfor %}
            {{ form_widget(form.reset) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set deleteImage = '<span class="fa fa-trash-o"></span>' %}
    
    <script type="text/javascript">
    /* <![CDATA[ */
        
        
        ( function($) {
            $(document).ready(function() {
                // initialise auto completion for user fields
                {% if form.moderationSpecificCreator is defined %}
                    pggoNewsDatesInitUserField('pggonewsdatesmodule_article_moderationSpecificCreator', 'getCommonUsersList');
                {% endif %}
                pggoNewsDatesInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ article.id }}{% endif %}');
                pggoNewsDatesInitUploadField('pggonewsdatesmodule_article_image_image');
                pggoNewsDatesInitDateField('pggonewsdatesmodule_article_startDate');
                pggoNewsDatesInitDateField('pggonewsdatesmodule_article_endDate');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
