{# purpose of this template: module configuration page #}
{% extends 'PggoInstititutionenModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="pggoinstititutionenmodule-config">
        {% form_theme form with [
            '@PggoInstititutionenModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <ul class="nav nav-pills">
        {% set tabTitle = __('List views') %}
        <li class="active" role="presentation">
            <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Images') %}
        <li class=" dropdown" role="presentation">
            <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false">{{ tabTitle }}<span class="caret"></span></a>
            <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
            <li>
                <a id="imagesPictureImageTab" href="#tabImagesPictureImage" role="tab" data-toggle="tab" aria-controls="tabImagesPictureImage">Pictures image</a>
            </li>
            <li>
                <a id="imagesInstitutionImageTab" href="#tabImagesInstitutionImage" role="tab" data-toggle="tab" aria-controls="tabImagesInstitutionImage">Institutions image</a>
            </li>
            </ul>
        </li>
        </ul>

        {{ form_errors(form) }}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                {% set tabTitle = __('List views') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                
                    {{ form_row(form.pictureEntriesPerPage) }}
                    {{ form_row(form.linkOwnPicturesOnAccountPage) }}
                    {{ form_row(form.institutionEntriesPerPage) }}
                    {{ form_row(form.linkOwnInstitutionsOnAccountPage) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesPictureImage" aria-labelledby="imagesPictureImageTab">
                {% set tabTitle = __('Image settings for pictures image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForPictureImage) }}
                    <div id="shrinkDetailsPictureImage">
                    {{ form_row(form.shrinkWidthPictureImage) }}
                    {{ form_row(form.shrinkHeightPictureImage) }}
                    </div>
                    {{ form_row(form.thumbnailModePictureImage) }}
                    {{ form_row(form.thumbnailWidthPictureImageView) }}
                    {{ form_row(form.thumbnailHeightPictureImageView) }}
                    {{ form_row(form.thumbnailWidthPictureImageDisplay) }}
                    {{ form_row(form.thumbnailHeightPictureImageDisplay) }}
                    {{ form_row(form.thumbnailWidthPictureImageEdit) }}
                    {{ form_row(form.thumbnailHeightPictureImageEdit) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesInstitutionImage" aria-labelledby="imagesInstitutionImageTab">
                {% set tabTitle = __('Image settings for institutions image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForInstitutionImage) }}
                    <div id="shrinkDetailsInstitutionImage">
                    {{ form_row(form.shrinkWidthInstitutionImage) }}
                    {{ form_row(form.shrinkHeightInstitutionImage) }}
                    </div>
                    {{ form_row(form.thumbnailModeInstitutionImage) }}
                    {{ form_row(form.thumbnailWidthInstitutionImageView) }}
                    {{ form_row(form.thumbnailHeightInstitutionImageView) }}
                    {{ form_row(form.thumbnailWidthInstitutionImageDisplay) }}
                    {{ form_row(form.thumbnailHeightInstitutionImageDisplay) }}
                    {{ form_row(form.thumbnailWidthInstitutionImageEdit) }}
                    {{ form_row(form.thumbnailHeightInstitutionImageEdit) }}
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@PggoInstititutionenModule:js/PggoInstititutionenModule.Config.js')) }}
{% endblock %}
