{# Purpose of this template: Display one certain event within an external context #}
<div id="event{$event.id}" class="pggonewsdatesmodule-external-event">
{% if displayMode == 'link' %}
    <p class="pggonewsdatesmodule-external-link">
    <a href="{{ path('pggonewsdatesmodule_event_display', { 'id': event.id, 'slug': event.slug }) }}" title="{{ event.getTitleFromDisplayPattern()|e('html_attr') }}">
    {{ event.getTitleFromDisplayPattern()|notifyFilters('newsdates.filter_hooks.events.filter') }}
    </a>
    </p>
{% endif %}
{% if hasPermission('PggoNewsDatesModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="pggonewsdatesmodule-external-title">
            <strong>{{ event.getTitleFromDisplayPattern()|notifyFilters('newsdates.filter_hooks.events.filter') }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="pggonewsdatesmodule-external-snippet">
        &nbsp;
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="pggonewsdatesmodule-external-description">
            {% if event.description is not empty %}{{ event.description }}<br />{% endif %}
            {% if featureActivationHelper.isEnabled(constant('Pggo\\NewsDatesModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'event') %}
                <dl class="category-list">
                {% for propName, catMapping in event.categories %}
                    <dt>{{ propName }}</dt>
                    <dd>{{ catMapping.category.display_name[lang] }}</dd>
                {% endfor %}
                </dl>
            {% endif %}
        </p>
    #}
{% endif %}
</div>
