{# Purpose of this template: Display linkers within an external context #}
<div class="section">
	<div class="container">
		<div class="row">
		    {% for linker in items %}
			<div class="{{ linker.boostrapSetting }} ">
				<div class="row">
					<div class="col-md-12 hidden-xs">
						<div class="white-space hidden-xs">
							{% if linker.linkerImageMeta.isImage %}                 
								<a href="{{ linker.theLink }}"><img src="{{ linker.linkerImage.getPathname() }}" width="100%" alt="{{ linker.getTitleFromDisplayPattern()|e('html_attr') }}" /></a>
							{% else %}
								{{ __('Download') }} ({{ linker.linkerImageMeta.size|rkhelpermodule_fileSize(linker.linkerImage.getPathname(), false, false) }})
							{% endif %}
							<a href="{{ linker.theLink }}"><h2>{{ linker.getTitleFromDisplayPattern() }}</h2></a>
							{% if linker.linkerText %}
								<p class="min-height-linker-text">{{ linker.linkerText|striptags|truncate(200, true, '&hellip;') }}</p>
							{% endif %}        
							<a  type="button" class="btn btn-primary" href="{{ linker.theLink }}">{{ __('Read more') }}</a>
							
						</div><div class="bottom-space hidden-md"></div>
					</div>
				</div>
				<div class="row  hidden-sm hidden-md hidden-lg">
					<div class="col-xs-12">
						<div class="col-xs-12 white-space">
							
							<div class="col-xs-4 hidden-sm hidden-md hidden-lg no-padding">
								{% if linker.linkerImageMeta.isImage %}                 
									<a href="{{ linker.theLink }}"><img src="{{ linker.linkerImage.getPathname() }}" width="100%" alt="{{ linker.getTitleFromDisplayPattern()|e('html_attr') }}" /></a>
								{% else %}
									{{ __('Download') }} ({{ linker.linkerImageMeta.size|rkhelpermodule_fileSize(linker.linkerImage.getPathname(), false, false) }})
								{% endif %}

							</div>
							<div class="col-xs-8 hidden-sm hidden-md hidden-lg">
								<a href="{{ linker.theLink }}"><h4>{{ linker.getTitleFromDisplayPattern() }}</h4></a>
								{% if linker.linkerText %}
									<p>{{ linker.linkerText|striptags|truncate(200, true, '&hellip;') }}</p>
								{% endif %} 
								<a  type="button" class="btn btn-link" href="{{ linker.theLink }}">{{ __('Read more') }}</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>	
			{% endfor %}
		</div>
	</div>
</div>
		

