{# purpose of this template: institutions list view #}
{% extends routeArea == 'admin' ? 'PggoInstititutionenModule::adminBase.html.twig' : 'PggoInstititutionenModule::base.html.twig' %}
{% block title own ? __('My institutions') : __('Institution list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="pggoinstititutionenmodule-institution pggoinstititutionenmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@PggoInstititutionenModule/Institution/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('pggoinstititutionenmodule_institution_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="institutionsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cName" />
                <col id="cImage" />
                <col id="cCopyright" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="fixed-column text-center">
                        <input type="checkbox" class="pggoinstititutionen-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="fixed-column text-right z-order-unsorted">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hImage" scope="col" class="text-left z-order-unsorted">
                    {{ __('Image') }}
                </th>
                <th id="hCopyright" scope="col" class="text-left">
                    <a href="{{ sort.copyright.url }}" title="{{ __f('Sort by %s', {'%s': 'copyright'}) }}" class="{{ sort.copyright.class }}">{{ __('Copyright') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for institution in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center">
                        <input type="checkbox" name="items[]" value="{{ institution.id }}" class="pggoinstititutionen-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ institution.id }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('PggoInstititutionenModule:ItemActionsMenu:menu', [], { entity: institution, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ institution.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    <a href="{{ path('pggoinstititutionenmodule_institution_' ~ routeArea ~ 'display', { 'id': institution.id }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ institution.name|notifyFilters('pggoinstititutionenmodule.filterhook.institutions') }}</a>
                </td>
                <td headers="hImage" class="text-left">
                    {% if institution.image is not empty and institution.imageMeta|default %}
                                <a href="{{ institution.imageUrl }}" title="{{ institution.getTitleFromDisplayPattern()|e('html_attr') }}"{% if institution.imageMeta.isImage %} class="image-link"{% endif %}>
                    {% if institution.imageMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'institutionImage') %}
                        <img src="{{ institution.image.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ institution.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ institution.imageMeta.size|pggoinstititutionenmodule_fileSize(institution.image.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hCopyright" class="text-left">
                    {{ institution.copyright }}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}5{% else %}4{% endif %}">
            {{ __('No institutions found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'pggoinstititutionenmodule_institution_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="pggoInstititutionenModuleAction" class="col-sm-3 control-label">{{ __('With selected institutions') }}</label>
                <div class="col-sm-6">
                    <select id="pggoInstititutionenModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    {% if canBeCreated %}
        {% if hasPermission('PggoInstititutionenModule:Institution:', '::', 'ACCESS_EDIT') %}
            {% set createTitle = __('Create institution') %}
            <a href="{{ path('pggoinstititutionenmodule_institution_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        {% endif %}
    {% endif %}
    {% if showAllEntries == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('pggoinstititutionenmodule_institution_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('pggoinstititutionenmodule_institution_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='pggoinstititutionenmodule.ui_hooks.institutions.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
