{# Purpose of this template: Display institutions within an external context #}
<dl>
    {% for institution in items %}
        <dt>{{ institution.getTitleFromDisplayPattern() }}</dt>
        {% if institution.description %}
            <dd>{{ institution.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('pggoinstititutionenmodule_institution_display', { 'id': institution.id }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
