{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="article{{ article.id }}">
<dt>{{ article.getTitleFromDisplayPattern()|notifyFilters('newsdates.filter_hooks.articles.filter') }}</dt>
<dd>{% if article.image is not empty and article.imageMeta|default %}
            <a href="{{ article.imageUrl }}" title="{{ article.getTitleFromDisplayPattern()|e('html_attr') }}"{% if article.imageMeta.isImage %} class="image-link"{% endif %}>
{% if article.imageMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'articleImage') %}
    <img src="{{ article.image.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ article.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ article.imageMeta.size|pggonewsdatesmodule_fileSize(article.image.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if article.teaser is not empty %}<dd>{{ article.teaser }}</dd>{% endif %}
{% if featureActivationHelper.isEnabled(constant('Pggo\\NewsDatesModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'article') %}
    <dd>
        <dl class="category-list">
        {% for propName, catMapping in article.categories %}
            <dt>{{ propName }}</dt>
            <dd>{{ catMapping.category.display_name[lang] }}</dd>
        {% endfor %}
        </dl>
    </dd>
{% endif %}
</dl>
