{# purpose of this template: build the form to edit an instance of image #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKHelperModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKHelperModule:js/RKHelperModule.Validation.js', 98)) }}
    {{ pageAddAsset('javascript', zasset('@RKHelperModule:js/RKHelperModule.EditFunctions.js', 99)) }}
    {{ pageAddAsset('javascript', asset('typeahead/typeahead.bundle.min.js')) }}
{% endblock %}

{% block title mode == 'create' ? __('Create image') : __('Edit image') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="rkhelpermodule-image rkhelpermodule-edit">
{% form_theme form with [
    '@RKHelperModule/Form/bootstrap_3.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ form_start(form, {attr: {id: 'imageEditForm', class: 'rkhelper-edit-form'}}) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Content') }}</legend>
    {{ form_row(form.imageTitle) }}
    {{ form_row(form.myImage) }}
    {{ form_row(form.myDescription) }}
    {{ form_row(form.copyright) }}
</fieldset>

{% if mode != 'create' %}
    {{ include('@RKHelperModule/Helper/includeStandardFieldsEdit.html.twig', { obj: image }) }}
{% endif %}

{# include display hooks #}
{% set hookId = mode != 'create' ? image.id : null %}
{% set hooks = notifyDisplayHooks(eventName='rkhelpermodule.ui_hooks.images.form_edit', id=hookId) %}
{% if hooks is iterable and hooks|length > 0 %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <fieldset>
            {{ hook }}
        </fieldset>
    {% endfor %}
{% endif %}

{% if form.moderationSpecificCreator is defined %}
    <fieldset id="moderationFieldsSection">
        <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
        <div id="moderationFieldsContent">
            {{ form_row(form.moderationSpecificCreator) }}
            {{ form_row(form.moderationSpecificCreationDate) }}
        </div>
    </fieldset>
{% endif %}

{# include return control #}
{% if mode == 'create' %}
    <fieldset>
        <legend>{{ __('Return control') }}</legend>
        {{ form_row(form.repeatCreation) }}
    </fieldset>
{% endif %}

{# include possible submit actions #}
<div class="form-group form-buttons">
    <div class="col-sm-offset-3 col-sm-9">
        {% for action in actions %}
            {{ form_widget(attribute(form, action.id)) }}
        {% endfor %}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set deleteImage = '<span class="fa fa-trash-o"></span>' %}
    
    <script type="text/javascript">
    /* <![CDATA[ */
        
        
        ( function($) {
            $(document).ready(function() {
                // initialise auto completion for user fields
                {% if form.moderationSpecificCreator is defined %}
                    rKHelperInitUserField('rkhelpermodule_image_moderationSpecificCreator', 'getCommonUsersList');
                {% endif %}
                rKHelperInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ image.id }}{% endif %}');
                rKHelperInitUploadField('rkhelpermodule_image_myImage_myImage');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
