{# Purpose of this template: Display images within an external context #}
<dl>
    {% for image in items %}
        <dt>{{ image.getTitleFromDisplayPattern() }}</dt>
        {% if image.myDescription %}
            <dd>{{ image.myDescription|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('rkhelpermodule_image_display', { 'id': image.id }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
