{# purpose of this template: linkers list view #}
{% extends routeArea == 'admin' ? 'RKHelperModule::adminBase.html.twig' : 'RKHelperModule::base.html.twig' %}
{% block title own ? __('My linkers') : __('Linker list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="rkhelpermodule-linker rkhelpermodule-view">

    <p class="alert alert-info">{{ __('with this entity you are able to manage the home info fields. Bootstrap is mandatory!') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@RKHelperModule/Linker/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('rkhelpermodule_linker_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="linkersViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cLinkerImage" />
                <col id="cLinkerHeadline" />
                <col id="cLinkerText" />
                <col id="cTheLink" />
                <col id="cBoostrapSetting" />
                <col id="cLinkerLocale" />
                <col id="cSorting" />
                <col id="cLinkerGroup" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="rkhelper-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted">{{ __('Actions') }}</th>
                <th id="hLinkerImage" scope="col" class="text-left">
                    <a href="{{ sort.linkerImage.url }}" title="{{ __f('Sort by %s', {'%s': 'linker image'}) }}" class="{{ sort.linkerImage.class }}">{{ __('Linker image') }}</a>
                </th>
                <th id="hLinkerHeadline" scope="col" class="text-left">
                    <a href="{{ sort.linkerHeadline.url }}" title="{{ __f('Sort by %s', {'%s': 'linker headline'}) }}" class="{{ sort.linkerHeadline.class }}">{{ __('Linker headline') }}</a>
                </th>
                <th id="hLinkerText" scope="col" class="text-left">
                    <a href="{{ sort.linkerText.url }}" title="{{ __f('Sort by %s', {'%s': 'linker text'}) }}" class="{{ sort.linkerText.class }}">{{ __('Linker text') }}</a>
                </th>
                <th id="hTheLink" scope="col" class="text-left">
                    <a href="{{ sort.theLink.url }}" title="{{ __f('Sort by %s', {'%s': 'the link'}) }}" class="{{ sort.theLink.class }}">{{ __('The link') }}</a>
                </th>
                <th id="hBoostrapSetting" scope="col" class="text-left">
                    <a href="{{ sort.boostrapSetting.url }}" title="{{ __f('Sort by %s', {'%s': 'boostrap setting'}) }}" class="{{ sort.boostrapSetting.class }}">{{ __('Boostrap setting') }}</a>
                </th>
                <th id="hLinkerLocale" scope="col" class="text-left">
                    <a href="{{ sort.linkerLocale.url }}" title="{{ __f('Sort by %s', {'%s': 'linker locale'}) }}" class="{{ sort.linkerLocale.class }}">{{ __('Linker locale') }}</a>
                </th>
                <th id="hSorting" scope="col" class="text-right">
                    <a href="{{ sort.sorting.url }}" title="{{ __f('Sort by %s', {'%s': 'sorting'}) }}" class="{{ sort.sorting.class }}">{{ __('Sorting') }}</a>
                </th>
                <th id="hLinkerGroup" scope="col" class="text-left">
                    <a href="{{ sort.linkerGroup.url }}" title="{{ __f('Sort by %s', {'%s': 'linker group'}) }}" class="{{ sort.linkerGroup.class }}">{{ __('Linker group') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for linker in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center">
                        <input type="checkbox" name="items[]" value="{{ linker.id }}" class="rkhelper-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ linker.id }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('RKHelperModule:ItemActionsMenu:menu', [], { entity: linker, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ linker.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                <td headers="hLinkerImage" class="text-left">
                    {% if linker.linkerImageMeta|default %}
                    <a href="{{ linker.linkerImageUrl }}" title="{{ linker.getTitleFromDisplayPattern()|e('html_attr') }}"{% if linker.linkerImageMeta.isImage %} class="image-link"{% endif %}>
                    {% if linker.linkerImageMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'linkerLinkerImage') %}
                        <img src="{{ linker.linkerImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ linker.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ linker.linkerImageMeta.size|rkhelpermodule_fileSize(linker.linkerImage.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td headers="hLinkerHeadline" class="text-left">
                    {{ linker.linkerHeadline }}
                </td>
                <td headers="hLinkerText" class="text-left">
                    {{ linker.linkerText|safeHtml }}
                </td>
                <td headers="hTheLink" class="text-left">
                    {{ linker.theLink }}
                </td>
                <td headers="hBoostrapSetting" class="text-left">
                    {{ linker.boostrapSetting }}
                </td>
                <td headers="hLinkerLocale" class="text-left">
                    {{ linker.linkerLocale|languageName }}
                </td>
                <td headers="hSorting" class="text-right">
                    {{ linker.sorting }}
                </td>
                <td headers="hLinkerGroup" class="text-left">
                    {{ linker.linkerGroup }}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}10{% else %}9{% endif %}">
            {{ __('No linkers found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'rkhelpermodule_linker_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="rKHelperModuleAction" class="col-sm-3 control-label">{{ __('With selected linkers') }}</label>
                <div class="col-sm-6">
                    <select id="rKHelperModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('RKHelperModule:Linker:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create linker') %}
                <a href="{{ path('rkhelpermodule_linker_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if showAllEntries == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('rkhelpermodule_linker_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('rkhelpermodule_linker_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='rkhelpermodule.ui_hooks.linkers.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
