{# Purpose of this template: Display one certain picture within an external context #}
{{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
{{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
{{ pageAddAsset('javascript', zasset('@PggoInstititutionenModule:js/PggoInstititutionenModule.js')) }}
<div id="picture{$picture.id}" class="pggoinstititutionenmodule-external-picture">
{% if displayMode == 'link' %}
    <p class="pggoinstititutionenmodule-external-link">
    <a href="{{ path('pggoinstititutionenmodule_picture_display', { 'id': picture.id }) }}" title="{{ picture.getTitleFromDisplayPattern()|e('html_attr') }}">
    {{ picture.getTitleFromDisplayPattern()|notifyFilters('instititutionen.filter_hooks.pictures.filter') }}
    </a>
    </p>
{% endif %}
{% if hasPermission('PggoInstititutionenModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="pggoinstititutionenmodule-external-title">
            <strong>{{ picture.getTitleFromDisplayPattern()|notifyFilters('instititutionen.filter_hooks.pictures.filter') }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="pggoinstititutionenmodule-external-snippet">
        {% if picture.imageMeta|default %}
        <a href="{{ picture.imageUrl }}" title="{{ picture.getTitleFromDisplayPattern()|e('html_attr') }}"{% if picture.imageMeta.isImage %} class="image-link"{% endif %}>
        {% if picture.imageMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'pictureImage') %}
            <img src="{{ picture.image.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ picture.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ picture.imageMeta.size|pggoinstititutionenmodule_fileSize(picture.image.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="pggoinstititutionenmodule-external-description">
            {% if picture.description is not empty %}{{ picture.description }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
