{# Purpose of this template: Display linkers within an external context #}
<dl>
    {% for linker in items %}
        <dt>{{ linker.getTitleFromDisplayPattern() }}</dt>
        {% if linker.linkerText %}
            <dd>{{ linker.linkerText|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('rkhelpermodule_linker_display', { 'id': linker.id }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
