{# purpose of this template: events list view #}
{% extends routeArea == 'admin' ? 'PggoNewsDatesModule::adminBase.html.twig' : 'PggoNewsDatesModule::base.html.twig' %}
{% block title own ? __('My events') : __('Event list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="pggonewsdatesmodule-event pggonewsdatesmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@PggoNewsDatesModule/Event/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('pggonewsdatesmodule_event_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="eventsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cTitle" />
                <col id="cStartDate" />
                <col id="cDuration" />
                <col id="cLocation" />
                <col id="cEventUrl" />
                <col id="cItemActions" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center">
                        <input type="checkbox" class="pggonewsdates-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hStartDate" scope="col" class="text-left">
                    <a href="{{ sort.startDate.url }}" title="{{ __f('Sort by %s', {'%s': 'start date'}) }}" class="{{ sort.startDate.class }}">{{ __('Start date') }}</a>
                </th>
                <th id="hDuration" scope="col" class="text-left z-order-unsorted">
                    {{ __('Duration') }}
                </th>
                <th id="hLocation" scope="col" class="text-left">
                    <a href="{{ sort.location.url }}" title="{{ __f('Sort by %s', {'%s': 'location'}) }}" class="{{ sort.location.class }}">{{ __('Location') }}</a>
                </th>
                <th id="hEventUrl" scope="col" class="text-center">
                    <a href="{{ sort.eventUrl.url }}" title="{{ __f('Sort by %s', {'%s': 'event url'}) }}" class="{{ sort.eventUrl.class }}">{{ __('Event url') }}</a>
                </th>
                <th id="hItemActions" scope="col" class="text-right z-order-unsorted">{{ __('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
        
        {% for event in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center">
                        <input type="checkbox" name="items[]" value="{{ event.id }}" class="pggonewsdates-toggle-checkbox" />
                    </td>
                {% endif %}
                <td headers="hTitle" class="text-left">
                    <a href="{{ path('pggonewsdatesmodule_event_' ~ routeArea ~ 'display', { 'id': event.id, 'slug': event.slug }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ event.title|notifyFilters('pggonewsdatesmodule.filterhook.events') }}</a>
                </td>
                <td headers="hStartDate" class="text-left">
                    {{ event.startDate|localizeddate('medium', 'short') }}
                </td>
                <td headers="hDuration" class="text-left">
                    {{ event.duration }}
                </td>
                <td headers="hLocation" class="text-left">
                    {{ event.location }}
                </td>
                <td headers="hEventUrl" class="text-center">
                    {% if event.eventUrl is not empty %}
                    <a href="{{ event.eventUrl }}" title="{{ __('Visit this page') }}" class="fa fa-external-link-square"></a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td id="itemActions{{ event.id }}" headers="hItemActions" class="actions text-right nowrap z-w02">
                    {% set itemActions = knp_menu_get('PggoNewsDatesModule:ItemActionsMenu:menu', [], { entity: event, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ event.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}7{% else %}6{% endif %}">
            {{ __('No events found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'pggonewsdatesmodule_event_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="pggoNewsDatesModuleAction" class="col-sm-3 control-label">{{ __('With selected events') }}</label>
                <div class="col-sm-6">
                    <select id="pggoNewsDatesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    {% if canBeCreated %}
        {% if hasPermission('PggoNewsDatesModule:Event:', '::', 'ACCESS_EDIT') %}
            {% set createTitle = __('Create event') %}
            <a href="{{ path('pggonewsdatesmodule_event_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        {% endif %}
    {% endif %}
    {% if showAllEntries == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('pggonewsdatesmodule_event_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('pggonewsdatesmodule_event_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='pggonewsdatesmodule.ui_hooks.events.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
