{# purpose of this template: module configuration page #}
{% extends 'PggoNewsDatesModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="pggonewsdatesmodule-config">
        {% form_theme form with [
            '@PggoNewsDatesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <ul class="nav nav-pills">
        {% set tabTitle = __('Moderation') %}
        <li class="active" role="presentation">
            <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('List views') %}
        <li role="presentation">
            <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Images') %}
        <li class=" dropdown" role="presentation">
            <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false">{{ tabTitle }}<span class="caret"></span></a>
            <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
            <li>
                <a id="imagesArticleImageTab" href="#tabImagesArticleImage" role="tab" data-toggle="tab" aria-controls="tabImagesArticleImage">Articles image</a>
            </li>
            <li>
                <a id="imagesPictureImageTab" href="#tabImagesPictureImage" role="tab" data-toggle="tab" aria-controls="tabImagesPictureImage">Pictures image</a>
            </li>
            </ul>
        </li>
        </ul>

        {{ form_errors(form) }}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                {% set tabTitle = __('Moderation') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can assign moderation groups for enhanced workflow actions.')|nl2br }}</p>
                
                    {{ form_row(form.moderationGroupForArticles) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                {% set tabTitle = __('List views') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                
                    {{ form_row(form.articleEntriesPerPage) }}
                    {{ form_row(form.linkOwnArticlesOnAccountPage) }}
                    {{ form_row(form.pictureEntriesPerPage) }}
                    {{ form_row(form.eventEntriesPerPage) }}
                    {{ form_row(form.linkOwnEventsOnAccountPage) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesArticleImage" aria-labelledby="imagesArticleImageTab">
                {% set tabTitle = __('Image settings for articles image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForArticleImage) }}
                    <div id="shrinkDetailsArticleImage">
                    {{ form_row(form.shrinkWidthArticleImage) }}
                    {{ form_row(form.shrinkHeightArticleImage) }}
                    </div>
                    {{ form_row(form.thumbnailModeArticleImage) }}
                    {{ form_row(form.thumbnailWidthArticleImageView) }}
                    {{ form_row(form.thumbnailHeightArticleImageView) }}
                    {{ form_row(form.thumbnailWidthArticleImageDisplay) }}
                    {{ form_row(form.thumbnailHeightArticleImageDisplay) }}
                    {{ form_row(form.thumbnailWidthArticleImageEdit) }}
                    {{ form_row(form.thumbnailHeightArticleImageEdit) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesPictureImage" aria-labelledby="imagesPictureImageTab">
                {% set tabTitle = __('Image settings for pictures image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForPictureImage) }}
                    <div id="shrinkDetailsPictureImage">
                    {{ form_row(form.shrinkWidthPictureImage) }}
                    {{ form_row(form.shrinkHeightPictureImage) }}
                    </div>
                    {{ form_row(form.thumbnailModePictureImage) }}
                    {{ form_row(form.thumbnailWidthPictureImageView) }}
                    {{ form_row(form.thumbnailHeightPictureImageView) }}
                    {{ form_row(form.thumbnailWidthPictureImageEdit) }}
                    {{ form_row(form.thumbnailHeightPictureImageEdit) }}
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@PggoNewsDatesModule:js/PggoNewsDatesModule.Config.js')) }}
{% endblock %}
